<div class="jumbotron">
    <h1 class="display-3">Hola, mundo!</h1>
    <p class="lead">Soy Víctor José Guerrero Martínez, pero Víctor José solo me llamaba mi madre cuando hacia alguna trastada de pequeño y ahora de grande también, Víctor Joseeee!!!!<br><br>
                    Y soy Desarrollador.</p>
    <hr class="my-4">
    <p>Tras pensar y repensar, tomé la decisión de dejar el trabajo que tenía y pegarle una patada en el culo
        a mi zona de confort. Me puse a estudiar, terminé haciendo el grado superior en Desarrollo de Aplicaciones Web, lo compaginé
         con la escuela de Oficial de Idiomas de Murcia, estudiando Inglés, aunque cuando llegó la pandemia, dejé de asistir.<br><br>
         Durante este tiempo he realizado numerosos cursos online para formarme, practicando ejercicios, leido documentación 
         y no he parado de seguir aprendiendo nuevas tecnologías; cuanto más practico, más me gusta lo que hago :)))<br><br>
         Ademas me encanta comer pizzas, asistir a conciertos y festivales, las series, el cine y los documentales........ LA TV NOOO!!!
    </p>
  </div>

  <blockquote class="blockquote text-right mt-5" >
    <p class="mb-0 blockquote text-right ">Arriesgarse es perder momentáneamente el equilibrio. No arriesgarse es perderse a uno mismo</p>
    <footer class="blockquote-footer"><cite title="Source Title">Soren Kierkegaard</cite></footer>
  </blockquote>