
<div class="row">
    <div class="col-12 col-md-6">
      <div class="card mb-3">
        <h3 class="card-header bg-dark text-white">App criptomonedas</h3>
        <div class="card-body">
          <p class="card-text">Aplicación web para consultar el precio de las principales criptomonedas creada con JavaScript, realizada en el curso de JavaScript moderno de Juan Pablo De la torre Valdez.</p>
        </div>
        <div class="card-body">
          <a href="https://wizardly-mayer-254e59.netlify.app/" target="_blank" class="card-link">Sitio web</a>
          <a href="https://github.com/VictorGuerreroo/AppCriptomonedas" target="_blank" class="card-link">Github</a>
        </div>
      </div>
    </div>
    
      <div class="col-12 col-md-6">
        <div class="card mb-3">
          <h3 class="card-header bg-dark text-white">App gifs</h3>
          <div class="card-body">
            <p class="card-text">Aplicación web creada con Angular y Bootstrap, es un buscador de gifs, además crea un listado de las uĺtimas 10 búsquedas.<br>
                                 Realizado en el curso de Angular de Fernando Herrera.</p>
          </div>
          <div class="card-body">
            <a href="https://fervent-williams-bcdd0b.netlify.app/#" target="_blank" class="card-link">Sitio web</a>
            <a href="https://github.com/VictorGuerreroo/Gifs-App" target="_blank" class="card-link">Github</a>
          </div>
        </div>
      </div>
      
      <div class="col-12 col-md-6">
        <div class="card mb-3">
          <h3 class="card-header bg-dark text-white">App pixabay</h3>
          <div class="card-body">
            <p class="card-text">Búscador de imagenes, consultando la Api de Pixabay y una paginación al final, creada con JavaScript<br>
                                 Realizada en el curso de JavaScript moderno de Juan Pablo De la torre Valdez. </p>
          </div>
          <div class="card-body">
            <a href="https://vigilant-turing-a293d0.netlify.app/#" target="_blank" class="card-link">Sitio web</a>
            <a href="https://github.com/VictorGuerreroo/AppPixabay" target="_blank" class="card-link">Github</a>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6">
        <div class="card mb-3">
          <h3 class="card-header bg-dark text-white">App mapas</h3>
          <div class="card-body">
            <p class="card-text">Aplicacíon web para la consulta de mapas, realizada en Angular y Bootstrap, consultando la Api de Mapbox.<br>
                                Realizado en el curso de Angular de Fernando Herrera.</p>
          </div>
          <div class="card-body">
            <a href="https://romantic-ardinghelli-c8ae66.netlify.app" target="_blank" class="card-link">Sitio web</a>
            <a href="https://github.com/VictorGuerreroo/mapAngular" target="_blank" class="card-link">Github</a>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6">
        <div class="card mb-3">
          <h3 class="card-header bg-dark text-white">Sistema de Login</h3>
          <div class="card-body">
            <p class="card-text">Sistema de Login creado con Angular y Node.js, utilizando guards para la correcta y segura creación y autenticación del usuario.<br>
                                  Realizado en el curso de Angular de Fernando Herrera.</p>
          </div>
          <div class="card-body">
            <a href="https://angular-login-auth.herokuapp.com/auth/login" target="_blank" class="card-link">Sitio web</a>
            <a href="https://github.com/VictorGuerreroo/AuthAppAngular" target="_blank" class="card-link">Github</a>
            <a href="https://github.com/VictorGuerreroo/AuthServe" target="_blank" class="card-link">Github</a>
          </div>
        </div>
      </div>
      
        <div class="col-12 col-md-6">
          <div class="card mb-3">
            <h3 class="card-header bg-dark text-white">App gráficas</h3>
            <div class="card-body">
              <p class="card-text">Aplicación web realizada con Angular, Bootstrap y la librería ng2-charts, trabajando con gráficas de barra y dona. <br>
                                   Realizado en el curso de Angular de Fernando Herrera.</p>
            </div>
            <div class="card-body">
              <a href="https://dreamy-darwin-89eb21.netlify.app/" target="_blank" class="card-link">Sitio web</a>
              <a href="https://github.com/VictorGuerreroo/graficasAppAngular" target="_blank" class="card-link">Github</a>
            </div>
          </div>
        </div>
</div>

<app-paginacion></app-paginacion>
