
<div class="row">
    <div class="col-12 col-md-6">
      <div class="card mb-3">
        <h3 class="card-header">App del clima</h3>
        <div class="card-body">
          <p class="card-text">Aplicación web para la obtención del clima creada con JavaScript, realizada en el curso de JavaScript moderno de Juan Pablo De la torre Valdez.</p>
        </div>
        <div class="card-body">
          <a href="https://goofy-ritchie-167424.netlify.app/" target="_blank" class="card-link">Sitio web</a>
          <a href="#" class="card-link">Github</a>
        </div>
      </div>
    </div>
    
      <div class="col-12 col-md-6">
        <div class="card mb-3">
          <h3 class="card-header">App del clima</h3>
          <div class="card-body">
            <p class="card-text">Aplicación web para la obtención del clima creada con JavaScript, realizada en el curso de JavaScript moderno de Juan Pablo De la torre Valdez.</p>
          </div>
          <div class="card-body">
            <a href="https://goofy-ritchie-167424.netlify.app/" target="_blank" class="card-link">Sitio web</a>
            <a href="#" class="card-link">Github</a>
          </div>
        </div>
      </div>
      
      <div class="col-12 col-md-6">
        <div class="card mb-3">
          <h3 class="card-header">App del clima</h3>
          <div class="card-body">
            <p class="card-text">Aplicación web para la obtención del clima creada con JavaScript, realizada en el curso de JavaScript moderno de Juan Pablo De la torre Valdez.</p>
          </div>
          <div class="card-body">
            <a href="https://goofy-ritchie-167424.netlify.app/" target="_blank" class="card-link">Sitio web</a>
            <a href="#" class="card-link">Github</a>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6">
        <div class="card mb-3">
          <h3 class="card-header">App del clima</h3>
          <div class="card-body">
            <p class="card-text">Aplicación web para la obtención del clima creada con JavaScript, realizada en el curso de JavaScript moderno de Juan Pablo De la torre Valdez.</p>
          </div>
          <div class="card-body">
            <a href="https://goofy-ritchie-167424.netlify.app/" target="_blank" class="card-link">Sitio web</a>
            <a href="#" class="card-link">Github</a>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6">
        <div class="card mb-3">
          <h3 class="card-header">App del clima</h3>
          <div class="card-body">
            <p class="card-text">Aplicación web para la obtención del clima creada con JavaScript, realizada en el curso de JavaScript moderno de Juan Pablo De la torre Valdez.</p>
          </div>
          <div class="card-body">
            <a href="https://goofy-ritchie-167424.netlify.app/" target="_blank" class="card-link">Sitio web</a>
            <a href="#" class="card-link">Github</a>
          </div>
        </div>
      </div>
      
        <div class="col-12 col-md-6">
          <div class="card mb-3">
            <h3 class="card-header">App del clima</h3>
            <div class="card-body">
              <p class="card-text">Aplicación web para la obtención del clima creada con JavaScript, realizada en el curso de JavaScript moderno de Juan Pablo De la torre Valdez.</p>
            </div>
            <div class="card-body">
              <a href="https://goofy-ritchie-167424.netlify.app/" target="_blank" class="card-link">Sitio web</a>
              <a href="#" class="card-link">Github</a>
            </div>
          </div>
        </div>
</div>

<app-paginacion></app-paginacion>
