
<div class="row">
  <div class="col-12 col-md-6">
    <div class="card mb-3">
      <h3 class="card-header bg-dark text-white">Buscador de trabajos en Github</h3>
      <div class="card-body">
        <p class="card-text">Aplicación web creada con JavaScript, para la búsqueda de trabajos relacionados con la programación.<br>
          Realizada en el curso de JavaScript moderno de Juan Pablo De la torre Valdez.</p>
      </div>
      <div class="card-body">
        <a href="https://eloquent-sinoussi-16f300.netlify.app/" target="_blank" class="card-link">Sitio web</a>
        <a href="https://github.com/VictorGuerreroo/githubJobs"  target="_blank"  class="card-link">Github</a>
      </div>
    </div>
  </div>
  
    <div class="col-12 col-md-6">
      <div class="card mb-3">
        <h3 class="card-header bg-dark text-white">Carrito de compras</h3>
        <div class="card-body">
          <p class="card-text">Layout creado con JavaScript y Flexbox CSS, que simula un carrito de compras totalmente operativo a falta de un backend.<br>
            Realizada en el curso de JavaScript moderno de Juan Pablo De la torre Valdez..</p>
        </div>
        <div class="card-body">
          <a href="https://cranky-snyder-630189.netlify.app/" target="_blank" class="card-link">Sitio web</a>
          <a href="https://github.com/VictorGuerreroo/shoppingCart" target="_blank" class="card-link">Github</a>
        </div>
      </div>
    </div>
    
    <div class="col-12 col-md-6">
      <div class="card mb-3">
        <h3 class="card-header bg-dark text-white">App presupuesto</h3>
        <div class="card-body">
          <p class="card-text">Aplicacion web, para llevar un listado gastos, a partir de un presupuesto inicial introducido por el usuario; realizada con JavaScript.<br>
                               Realizada en el curso de JavaScript moderno de Juan Pablo De la torre Valdez. </p>
        </div>
        <div class="card-body">
          <a href="https://nervous-raman-3480f9.netlify.app/" target="_blank" class="card-link">Sitio web</a>
          <a href="https://github.com/VictorGuerreroo/AppPresupuesto" target="_blank" class="card-link">Github</a>
        </div>
      </div>
    </div>

  <div class="col-12 col-md-6">
          <div class="card mb-3">
            <h3 class="card-header bg-dark text-white">Buscador de coches</h3>
            <div class="card-body">
              <p class="card-text">Aplicación web que simula la busqueda de un coche con unas características elegidas por el usuario creada con JavaScript, realizada en el curso de JavaScript moderno de Juan Pablo De la torre Valdez.</p>
            </div>
            <div class="card-body">
              <a href="https://inspiring-babbage-69ff87.netlify.app/" target="_blank" class="card-link">Sitio web</a>
              <a href="https://github.com/VictorGuerreroo/Cars-Seeker" target="blank" class="card-link">Github</a>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6">
      <div class="card mb-3">
        <h3 class="card-header bg-dark text-white">Seguro de coches</h3>
        <div class="card-body">
          <p class="card-text">Ejercicio realizado en JavaScript, con un pequeño algoritmo calcula el total de la cotización dependiedo de la elección del usuario.<br>
            Realizado en el curso de JavaScript moderno de Juan Pablo De la torre Valdez.</p>
        </div>
        <div class="card-body">
          <a href="https://peaceful-euler-c2a98b.netlify.app/" target="_blank" class="card-link">Sitio web</a>
          <!--<a href="https://github.com/VictorGuerreroo/formulariosAngular" target="_blank" class="card-link">Github</a>-->
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <div class="card mb-3">
        <h3 class="card-header bg-dark text-white">Simulador de Email</h3>
        <div class="card-body">
          <p class="card-text">Ejercicio realizado en JavaScript que simula el envio de un email, mediante validaciones en el formulario.<br>
                                Realizado en el curso de JavaScript moderno de Juan Pablo De la torre Valdez.</p>
        </div>
        <div class="card-body">
          <a href="https://objective-swanson-706ec4.netlify.app/" target="_blank" class="card-link">Sitio web</a>
          <a href="https://github.com/VictorGuerreroo/SimuladorEmail" target="_blank" class="card-link">Github</a>
        </div>
      </div>
    </div>
</div>

<app-paginacion></app-paginacion>