
<div class="row">
  <div class="col-12 col-md-6">
    <div class="card mb-3">
      <h3 class="card-header bg-dark text-white">Letras de canciones</h3>
      <div class="card-body">
        <p class="card-text">Aplicación web creada con JavaScript, para la búsqueda de letras de canciones.<br>
          Realizada en el curso de JavaScript moderno de Juan Pablo De la torre Valdez.</p>
      </div>
      <div class="card-body">
        <a href="https://wizardly-archimedes-e3625d.netlify.app/" target="_blank" class="card-link">Sitio web</a>
        <a href="https://github.com/VictorGuerreroo/AppCanciones"  target="_blank"  class="card-link">Github</a>
      </div>
    </div>
  </div>
  
    <div class="col-12 col-md-6">
      <div class="card mb-3">
        <h3 class="card-header bg-dark text-white">Teweets</h3>
        <div class="card-body">
          <p class="card-text">Ejercicio creado con JavaScript, para practicar el uso de LocalStorage.<br>
            Realizada en el curso de JavaScript moderno de Juan Pablo De la torre Valdez..</p>
        </div>
        <div class="card-body">
          <a href="https://confident-darwin-5c3285.netlify.app/" target="_blank" class="card-link">Sitio web</a>
          <a href="https://github.com/VictorGuerreroo/Proyecto-LocalStorage" target="_blank" class="card-link">Github</a>
        </div>
      </div>
    </div>
    
    <div class="col-12 col-md-6">
      <div class="card mb-3">
        <h3 class="card-header bg-dark text-white">Layout flexBox</h3>
        <div class="card-body">
          <p class="card-text">Ejercicio realizado con CSS FlexBox para la práctica y asimilación del mismo.<br>
                               Realizado en el curso de FlexBox y Grid de CSS de Juan Pablo De la torre Valdez. </p>
        </div>
        <div class="card-body">
          <a href="https://blissful-raman-6e0cb3.netlify.app/" target="_blank" class="card-link">Sitio web</a>
          <a href="https://github.com/VictorGuerreroo/Blog-de-Viaje" target="_blank" class="card-link">Github</a>
        </div>
      </div>
    </div>
</div>

<app-paginacion></app-paginacion>