
<div class="row">
  <div class="col-12 col-md-6">
    <div class="card mb-3">
      <h3 class="card-header bg-dark text-white">App Pipes</h3>
      <div class="card-body">
        <p class="card-text">Ejercicio práctico de la utilización de Pipes y la libreria de componentes PrimeNG para Angular.<br>
          Realizado en el curso de Angular de Fernando Herrera. </p>
      </div>
      <div class="card-body">
        <a href="https://youthful-raman-22c03b.netlify.app/" target="_blank" class="card-link">Sitio web</a>
        <a href="https://github.com/VictorGuerreroo/pipesAngular"  target="_blank"  class="card-link">Github</a>
      </div>
    </div>
  </div>
  
    <div class="col-12 col-md-6">
      <div class="card mb-3">
        <h3 class="card-header bg-dark text-white">App Paises</h3>
        <div class="card-body">
          <p class="card-text">Aplicación web creada con Angular y Bootstrap, consultando la Api restcountries.eu.<br>
                               Realizado en el curso de Angular de Fernando Herrera.</p>
        </div>
        <div class="card-body">
          <a href="https://infallible-perlman-c79763.netlify.app/" target="_blank" class="card-link">Sitio web</a>
          <a href="https://github.com/VictorGuerreroo/PaisesApp" target="_blank" class="card-link">Github</a>
        </div>
      </div>
    </div>
    
    <div class="col-12 col-md-6">
      <div class="card mb-3">
        <h3 class="card-header bg-dark text-white">Login netflix</h3>
        <div class="card-body">
          <p class="card-text">Recreación del layout del login de Netflix con CSS, SCSS y JavaScript,diseño responsive para monitor, tableta y movil.<br>
                               Realizada en el curso de flexbox y grid CSS de Juan Pablo De la torre Valdez. </p>
        </div>
        <div class="card-body">
          <a href="https://eloquent-wescoff-24f894.netlify.app/" target="_blank" class="card-link">Sitio web</a>
          <a href="https://github.com/VictorGuerreroo/NetflixLogin" target="_blank" class="card-link">Github</a>
        </div>
      </div>
    </div>

  <div class="col-12 col-md-6">
          <div class="card mb-3">
            <h3 class="card-header bg-dark text-white">App del clima</h3>
            <div class="card-body">
              <p class="card-text">Aplicación web para la obtención del clima creada con JavaScript, realizada en el curso de JavaScript moderno de Juan Pablo De la torre Valdez.</p>
            </div>
            <div class="card-body">
              <a href="https://goofy-ritchie-167424.netlify.app/" target="_blank" class="card-link">Sitio web</a>
              <a href="#" class="card-link">Github</a>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6">
      <div class="card mb-3">
        <h3 class="card-header bg-dark text-white">Formularios en Angular</h3>
        <div class="card-body">
          <p class="card-text">Ejercicio realizado para la práctica y aprendizaje de la utilización de los formularios por template y reactivos de Angular.<br>
                              Realizado en el curso de Angular de Fernando Herrera.</p>
        </div>
        <div class="card-body">
          <a href="https://dazzling-brattain-dedb6b.netlify.app" target="_blank" class="card-link">Sitio web</a>
          <a href="https://github.com/VictorGuerreroo/formulariosAngular" target="_blank" class="card-link">Github</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <div class="card mb-3">
        <h3 class="card-header bg-dark text-white">Clínica veterinaria</h3>
        <div class="card-body">
          <p class="card-text">Aplicación web que simula mediante un formulario crear, editar y eliminar citas.<br>
                                Realizado en el curso de JavaScript moderno de Juan Pablo De la torre Valdez.</p>
        </div>
        <div class="card-body">
          <a href="https://suspicious-thompson-c4980c.netlify.app/" target="_blank" class="card-link">Sitio web</a>
          <a href="https://github.com/VictorGuerreroo/AuthAppAngular" target="_blank" class="card-link">Github</a>
        </div>
      </div>
    </div>
    
    
</div>

<app-paginacion></app-paginacion>