<div class="d-flex justify-content-center mt-5">
    <ul class="pagination">
      <li class="page-item">
        <!--<a class="page-link" href="#">&laquo;</a>-->
      </li>
      <li *ngFor="let item of menuItem; let i=index" class="page-item" routerLinkActive="active">
        <a class="page-link" [routerLink]="item.ruta">{{i+1}}</a>
      </li>
     
      <li class="page-item" routerLinkActive="">
        <!--<a class="page-link" routerLink="/portafolio1">&raquo;</a>-->
      </li>
    </ul>
  </div>
